<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>signin/register</title>
        <script src="/bundle.js" defer></script>
    </head>
    <body>
        <h1>Welcome to the Bankist</h1>
        <form id="signup-form">
            <div class="form-error">
                <p class="error-message"></p>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div>
                <label for="password">confirm Password:</label>
                <input
                    type="password"
                    id="confirm-password"
                    name="confirm-password"
                    required
                />
            </div>
            <button type="submit">Sign up</button>
        </form>
        <p>Already have an account <a href="login.html">sign-in</a></p>
    </body>
</html>
